<!--
    ioBroker.vis map widgets

    version: "0.1.0"

    Copyright 2016 bluefox<dogafox@gmail.com>

-->
<script type="text/javascript">
    'use strict';
    if (vis.editMode) {
        // Add words for basic widgets
        $.extend(true, systemDictionary, {
            "format_date":          {"en": "Dateformat",        "de": "Datumformat",            "ru": "Формат даты"}

        });
    }

    vis.binds.map = {
        version: "0.1.0",
        showVersion: function () {
            if (vis.binds.map.version) {
                console.log('Version vis-map: ' + vis.binds.map.version);
                vis.binds.map.version = null;
            }
        },
        updateWidgets: [],
        updateIntervalTimer: null,
        isLonLatIsOID: function (value) {
            if (typeof value !== 'string') return false;
            if (value[0] === '-') return false;
            if (value[0] >= '0' && value[0] <= '9') return false;
            return true;
        },
        osm: {
            loaded: false,
            fromProjection: null,
            toProjection: null,
            getMarkers: function (markers) {
                var result = new OpenLayers.Layer.Markers('Markers');
                var list = [];

                for (var m = 0; m < markers.length; m++) {
                    var width  = parseFloat(markers[m].width  || 25);
                    var height = parseFloat(markers[m].height || 25);
                    var size   = new OpenLayers.Size(width, height);
                    var url    = markers[m].image || 'widgets/map/img/pin.png';
                    var opacity = (markers[m].opacity === '' || markers[m].opacity === null || markers[m].opacity === undefined) ? 1 : parseFloat(markers[m].opacity);
                    var offsetX = (markers[m].offsetX === '' || markers[m].offsetX === null || markers[m].offsetX === undefined) ? -(size.w/2) : (-1) * parseFloat(markers[m].offsetX);
                    var offsetY = (markers[m].offsetY === '' || markers[m].offsetY === null || markers[m].offsetY === undefined) ? -size.h : (-1) * parseFloat(markers[m].offsetY);
                    var offset = new OpenLayers.Pixel(offsetX, offsetY);

                    var icon   = new OpenLayers.Icon(url, size, offset);
                    var marker;
                    if (vis.binds.map.isLonLatIsOID(markers[m].lon) && vis.binds.map.isLonLatIsOID(markers[m].lat)) {
                        marker = new OpenLayers.Marker(vis.binds.map.osm.text2position(vis.states[markers[m].lon + '.val'] + ';' + vis.states[markers[m].lat + '.val']), icon);
                    } else if (vis.binds.map.isLonLatIsOID(markers[m].lon)) {
                        marker = new OpenLayers.Marker(vis.binds.map.osm.text2position(vis.states[markers[m].lon + '.val']), icon);
                    } else {
                        marker = new OpenLayers.Marker(vis.binds.map.osm.text2position(markers[m].lon.toString() + (markers[m].lat ? ';' + markers[m].lat : '')), icon);
                    }

                    if (opacity == 0) marker.display(opacity != 0);
                    if (opacity != 1 && opacity != 0) marker.setOpacity(opacity);

                    list.push(marker);
                    result.addMarker(marker);
                }

                return {layer: result, list: list};
            },
            setCenter: function (map, markers, maxZoom) {
                if (markers && markers.markers.length) {
                    var bound = markers.getDataExtent();
                    var zoom = Math.min(map.getZoomForExtent(bound), maxZoom === undefined ? 30 : parseFloat(maxZoom));
                    map.setCenter(bound.getCenterLonLat(), zoom);
                } else {
                    map.setCenter(vis.binds.map.osm.text2position('5.55;6.66'), parseFloat(maxZoom));
                }
            },
            text2position: function(text) {
                var parts = text.split(';');
                if (parts.length < 2) parts = text.split(',');
                if (parts.length < 2) return null;
                var lon = parseFloat(parts[0].replace(',', '.').trim());
                var lat = parseFloat(parts[1].replace(',', '.').trim());
                return new OpenLayers.LonLat(lon, lat).transform(vis.binds.map.osm.fromProjection, vis.binds.map.osm.toProjection);
            },
            showMap: function(divName, markerList, maxZoom) {
                var map = new OpenLayers.Map(divName);
                var mapnik = new OpenLayers.Layer.OSM();
                map.addLayer(mapnik);

                var oObj = vis.binds.map.osm.getMarkers(markerList);
                map.addLayer(oObj.layer);

                vis.binds.map.osm.setCenter(map, oObj.layer, maxZoom);
                $('.olControlAttribution').hide();
                var $div = $('#' + divName);
                $div.css('border-radius', $div.parent().css('border-radius')).css('overflow', 'hidden');

                return {map: map, markers: oObj.list, layer: oObj.layer};
            },
            update: function ($div) {
                var obj     = $div.data('object');
                var markers = $div.data('markers');
                var zoom    = $div.data('zoom');

                for (var m = 0; m < markers.length; m++) {
                    if (vis.binds.map.isLonLatIsOID(markers[m].lon) && vis.binds.map.isLonLatIsOID(markers[m].lat)) {
                        console.log(vis.states[markers[m].lon + '.val'] + ';' + vis.states[markers[m].lat + '.val']);
                        obj.markers[m].lonlat = vis.binds.map.osm.text2position(vis.states[markers[m].lon + '.val'] + ';' + vis.states[markers[m].lat + '.val']);
                        obj.layer.removeMarker(obj.markers[m]);
                        obj.layer.addMarker(obj.markers[m]);
                    } else if (vis.binds.map.isLonLatIsOID(markers[m].lon)) {
                        obj.markers[m].lonlat = vis.binds.map.osm.text2position(vis.states[markers[m].lon + '.val']);
                        obj.layer.removeMarker(obj.markers[m]);
                        obj.layer.addMarker(obj.markers[m]);
                    }
                }
                vis.binds.map.osm.setCenter(obj.map, obj.layer, zoom);
            },
            init: function (el, view, data) {
                var $_div = $('#map_' + data.wid);
                if (!$_div.length) {
                    setTimeout(function () {
                        vis.binds.map.osm.init(el, view, data);
                    }, 100);
                    return;
                }

                if (!$('#osm_map').length) {
                    var script = document.createElement('script');
                    //script.src = 'widgets/map/lib/js/OpenLayers.js';
                    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js';
                    script.id = 'osm_map';
                    document.head.appendChild(script);
                    $('#osm_map').load(function () {
                        vis.binds.map.osm.loaded = true;
                        vis.binds.map.osm.init(el, view, data);
                    });
                    return;
                } else if (!vis.binds.map.osm.loaded) {
                    $('#osm_map').load(function () {
                        vis.binds.map.osm.init(el, view, data);
                    });
                    return;
                }
                if (!vis.binds.map.osm.fromProjection) vis.binds.map.osm.fromProjection = new OpenLayers.Projection('EPSG:4326');   // Transform from WGS 1984
                if (!vis.binds.map.osm.toProjection)   vis.binds.map.osm.toProjection   = new OpenLayers.Projection('EPSG:900913'); // to Spherical Mercator Projection

                var $div = $(el);

                var markers = [];

                data.mCount = parseInt(data.mCount, 10) || 1;
                var u;
                for (u = 1; u <= data.mCount; u++) {
                    if (data['markersLon-oid' + u]) {
                        var marker = {
                            lon:        data['markersLon-oid'   + u] || '',
                            lat:        data['markersLat-oid'   + u] || '',
                            image:      data['markersImage'     + u],
                            width:      data['markersWidth'     + u],
                            height:     data['markersHeight'    + u],
                            offsetX:    data['markersOffsetY'   + u],
                            offsetY:    data['markersOffsetX'   + u],
                            opacity:    data['markersOpacity'   + u],
                            text:       data['markersText'      + u] || undefined,
                            label:      data['markersLabel'     + u] || undefined
                        };

                        markers.push(marker);
                    }
                }

                $div.data('object',  vis.binds.map.osm.showMap('map_' + data.wid, markers, parseInt(data.maxZoom, 10) || 20));
                $div.data('markers', markers);
                $div.data('zoom',    parseInt(data.maxZoom, 10) || 20);
                if (data.hideControls) $div.find('.olControlZoom').hide();

                for (u = 1; u <= data.mCount; u++) {
                    if (vis.binds.map.isLonLatIsOID(data['markersLon-oid' + u])) {
                        vis.states.bind(data['markersLon-oid' + u] + '.val', function () {
                            vis.binds.map.osm.update($div);
                        });
                    }
                    if (vis.binds.map.isLonLatIsOID(data['markersLat-oid' + u])) {
                        vis.states.bind(data['markersLat-oid' + u] + '.val', function () {
                            vis.binds.map.osm.update($div);
                        });
                    }
                }
            }
        },
        googleMap: {
            loaded: false,
            text2position: function(text) {
                var parts = text.split(';');
                if (parts.length < 2) parts = text.split(',');
                if (parts.length < 2) return null;
                var lon = parseFloat(parts[0].replace(',', '.').trim());
                var lat = parseFloat(parts[1].replace(',', '.').trim());
                return new google.maps.LatLng(lat, lon);
            },
            setCenter: function (map, oMarkers) {
                var bounds = new google.maps.LatLngBounds();
                for (var m = 0; m < oMarkers.length; m++) {
                    bounds.extend(oMarkers[m].getPosition());
                }
                if (oMarkers.length > 1) {
                    map.fitBounds(bounds);
                } else if (oMarkers.length) {
                    map.panTo(oMarkers[0].getPosition());
                }
            },
            setMarkers: function (map, markers) {
                var result = [];
                for (var m = 0; m < markers.length; m++) {
                    var width  = parseFloat(markers[m].width  || 100);
                    var height = parseFloat(markers[m].height || 25);
                    var opacity = (markers[m].opacity === '' || markers[m].opacity === null || markers[m].opacity === undefined) ? 1 : parseFloat(markers[m].opacity);
                    var offsetX = (markers[m].offsetX === '' || markers[m].offsetX === null || markers[m].offsetX === undefined) ? null : parseFloat(markers[m].offsetX);
                    var offsetY = (markers[m].offsetY === '' || markers[m].offsetY === null || markers[m].offsetY === undefined) ? null : parseFloat(markers[m].offsetY);

                    var image = markers[m].image ? {
                        url: 		markers[m].image.indexOf('/') === -1 ? '//maps.gstatic.com/mapfiles/markers2/' + markers[m].image : markers[m].image,
                        origin:     new google.maps.Point(0, 0),
                        scaledSize: new google.maps.Size(width, height) // scaled size

                    } : undefined;

                    if (image && offsetX !== null && offsetY !== null) image.anchor = new google.maps.Point(offsetX, offsetY);

                    var position;
                    if (vis.binds.map.isLonLatIsOID(markers[m].lon) && vis.binds.map.isLonLatIsOID(markers[m].lat)) {
                        position = vis.binds.map.googleMap.text2position(vis.states[markers[m].lon + '.val'] + ';' + vis.states[markers[m].lat + '.val']);
                    } else if (vis.binds.map.isLonLatIsOID(markers[m].lon)) {
                        position = vis.binds.map.googleMap.text2position(vis.states[markers[m].lon + '.val']);
                    } else {
                        position = vis.binds.map.googleMap.text2position(markers[m].lon.toString() + (markers[m].lat ? ';' + markers[m].lat : ''));
                    }

                    var marker = new google.maps.Marker({
                        position:   position,
                        icon: 		image,
                        label: 		markers[m].label || undefined,
                        map:        map,
                        title:      markers[m].text || undefined
                    });
                    if (opacity !== 1) marker.setOpacity(opacity);
                    result.push(marker);
                }
                return result;
            },
            showMap: function(divElem, markerList, maxZoom, options) {
                var options = options || {};
                options.mapTypeId = options.mapTypeId || google.maps.MapTypeId.ROADMAP;

                var map = new google.maps.Map(divElem, {
                    zoom: 			        maxZoom,
                    center: 		        new google.maps.LatLng(52.52, 13.41),
                    mapTypeId: 	            options.mapTypeId,
                    disableDefaultUI:       !!options.hideControls,
                    scrollwheel:            !options.noZoomAndPan,
                    disableDoubleClickZoom: !!options.noZoomAndPan,
                    panControl:             !options.noZoomAndPan
                });

                var $div = $(divElem);
                $div.css('border-radius', $div.parent().css('border-radius'));


                var markers = vis.binds.map.googleMap.setMarkers(map, markerList);
                vis.binds.map.googleMap.setCenter(map, markers);
                return {map: map, markers: markers};
            },
            update: function ($div) {
                var obj     = $div.data('object');
                var markers = $div.data('markers');

                for (var m = 0; m < markers.length; m++) {
                    if (vis.binds.map.isLonLatIsOID(markers[m].lon) && vis.binds.map.isLonLatIsOID(markers[m].lat)) {
                        obj.markers[m].setPosition(vis.binds.map.googleMap.text2position(vis.states[markers[m].lon + '.val'] + ';' + vis.states[markers[m].lat + '.val']));
                    } else if (vis.binds.map.isLonLatIsOID(markers[m].lon)) {
                        obj.markers[m].setPosition(vis.binds.map.googleMap.text2position(vis.states[markers[m].lon + '.val']));
                    }
                }

                vis.binds.map.googleMap.setCenter(obj.map, obj.markers);
            },
            init: function (el, view, data) {
                var $div = $(el);

                var $_div = $('#map_' + data.wid);
                if (!$_div.length) {
                    setTimeout(function () {
                        vis.binds.map.googleMap.init(el, view, data);
                    }, 100);
                    return;
                }
                console.log('AIzaSyAcObBQ5OjIT5o8pOrMvYT8TBsoxBeU');

                /*if (vis.editMode && !data.apiKey) {
                    var obj = vis.objects['system.adapter.vis-map.0'];
                    if (obj && obj.native && obj.native.googleApiKey) {
                        vis.views[view].widgets[data.wid].data.apiKey = obj.native.googleApiKey;
                        data.apiKey = obj.native.googleApiKey;
                    }
                }*/

                if (!data.apiKey) {
                    $div.append(_('No API key'));
                    return;
                }

                if (!$('#google_map').length) {
                    var script = document.createElement('script');
                    script.src = 'https://maps.googleapis.com/maps/api/js?key=' + data.apiKey + '&signed_in=false';
                    script.id = 'google_map';
                    document.head.appendChild(script);
                    $('#google_map').load(function () {
                        vis.binds.map.googleMap.loaded = true;
                        vis.binds.map.googleMap.init(el, view, data);
                    });
                    return;
                } else if (!vis.binds.map.googleMap.loaded) {
                    $('#google_map').load(function () {
                        vis.binds.map.googleMap.init(el, view, data);
                    });
                    return;
                }

                var options = {
                    mapTypeId:      google.maps.MapTypeId[data.mapTypeId || 'ROADMAP'],
                    hideControls:   data.hideControls || false,
                    noZoomAndPan:   data.noZoomAndPan || false
                };
                var markers = [];


                for (var u = 1; u <= data.mCount; u++) {
                    if (data['markersLon-oid' + u]) {
                        var marker = {
                            lon:        data['markersLon-oid'   + u] || '',
                            lat:        data['markersLat-oid'   + u] || '',
                            image:      data['markersImage'     + u],
                            width:      data['markersWidth'     + u],
                            height:     data['markersHeight'    + u],
                            offsetX:    data['markersOffsetY'   + u],
                            offsetY:    data['markersOffsetX'   + u],
                            opacity:    data['markersOpacity'   + u],
                            text:       data['markersText'      + u] || undefined,
                            label:      data['markersLabel'     + u] || undefined
                        };
                        markers.push(marker);
                    }
                }

                $div.data('markers', markers);
                $div.data('zoom',    parseInt(data.maxZoom, 10) || 20);
                $div.data('object', vis.binds.map.googleMap.showMap($div[0], markers, parseInt(data.maxZoom, 10) || 20, options));

                for (u = 1; u <= data.mCount; u++) {
                    if (vis.binds.map.isLonLatIsOID(data['markersLon-oid' + u])) {
                        vis.states.bind(data['markersLon-oid' + u] + '.val', function () {
                            vis.binds.map.googleMap.update($div);
                        });
                    }
                    if (vis.binds.map.isLonLatIsOID(data['markersLat-oid' + u])) {
                        vis.states.bind(data['markersLat-oid' + u] + '.val', function () {
                            vis.binds.map.googleMap.update($div);
                        });
                    }
                }
            }
        }
    };

    if (vis.editMode) {
        // find automatically google map api key
        vis.binds.map.onIdChanged = function (widgetID, view, newId, fields) {
            var changed = [];
            if (!vis.views[view].widgets[widgetID].data.apiKey) {
                var obj = vis.objects['system.adapter.vis-map.0'];
                if (obj && obj.native && obj.native.googleApiKey) {
                    vis.views[view].widgets[widgetID].data.apiKey = obj.native.googleApiKey;
                    changed.push('apiKey');
                }
            }
            return changed.length ? changed : null;
        };
    }

    vis.binds.map.showVersion();
</script>
<style>
    a[href^="http://maps.google.com/maps"]{display: none !important}
    a[href^="https://maps.google.com/maps"]{display: none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display: none;
    }
    .gmnoprint div {
        background: none !important;
    }
</style>

<script id="tplOsm"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="map"
        data-vis-name="Open Street Map"
        data-vis-type="map"
        data-vis-update-style="true"
        data-vis-prev='<img src="widgets/map/img/Prev_tplOsm.png"></img>'
        data-vis-attrs="mCount[1]/number,1,20,1;maxZoom[14]/slider,0,18,1;hideControls/checkbox;"
        data-vis-attrs0="group.markers/byindex;markersLon-oid(1-mCount)/id,gps;markersLat-oid(1-mCount)/id,gps;markersImage(1-mCount)/image;markersWidth(1-mCount)/slider,1,100,1;markersHeight(1-mCount)/slider,1,100,1;markersOffsetX(1-mCount)/slider,1,100,1;markersOffsetY(1-mCount)/slider,1,100,1;markersOpacity(1-mCount)/slider,0,1,0.05;"
        >
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow: hidden; width: 200px; height: 200px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" id="map_<%= this.data.attr('wid') %>" <%= (el) -> vis.binds.map.osm.init(el, this.view, this.data) %> style="position: relative;"></div>
    </div>
</script>

<script id="tplGoogleMap"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="map"
        data-vis-name="Google Map"
        data-vis-type="map"
        data-vis-update-style="true"
        data-vis-prev='<img src="widgets/map/img/Prev_tplGoogleMap.png"></img>'
        data-vis-attrs="mCount[1]/number,1,20,1;maxZoom[14]/slider,0,30,1;mapTypeId/select,ROADMAP,SATELLITE,HYBRID,TERRAIN;hideControls/checkbox;noZoomAndPan/checkbox;apiKey;"
        data-vis-attrs0="group.markers/byindex;markersLon-oid(1-mCount)/id,gps;markersLat-oid(1-mCount)/id,gps;markersImage(1-mCount)/image;markersWidth(1-mCount)/slider,1,100,1;markersHeight(1-mCount)/slider,1,100,1;markersOffsetX(1-mCount)/slider,1,100,1;markersOffsetY(1-mCount)/slider,1,100,1;markersText(1-mCount);markersLabel(1-mCount);markersOpacity(1-mCount)/slider,0,1,0.05;"
>
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow: hidden; width: 200px; height: 200px;background-color: none !important" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" id="map_<%= this.data.attr('wid') %>" <%= (el) -> vis.binds.map.googleMap.init(el, this.view, this.data) %>></div>
    </div>
</script>